map {
    display: block;
    height: 100vh;
}
.heatmap {
    top: 0;
    right: 0;
}

.popup-element {
    position: absolute;
    padding: 15px;
    opacity: .8;
    color: white;
    background-color: black;
}

.heat-map-player {
    bottom: 0;
    left: 50%;
    width: 30vw;
    margin-left: -15vw;
}
.heat-map-player table td {
    padding: 0 5px;
}
.heat-map-player table td:last-child {
    width: 100%;
}
.heat-map-player table td button {
    width: 60px;
    color: black;
}
