<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <button ng-init="isShow = true" ng-click="isShow = !isShow">{{ isShow ? "Hide" : "Show"}}</button>
                    <div ng-if="isShow">
                        <div><magic-radio group="Test_1"></magic-radio></div>
                        <div><magic-radio group="Test_1"></magic-radio></div>
                        <div><magic-radio group="UFO_100"></magic-radio></div>
                        <div><magic-radio group="UFO_100"></magic-radio></div>
                        <div><magic-radio group="UFO_100"></magic-radio></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <button ng-init="isShow2 = true" ng-click="isShow2 = !isShow2">{{ isShow2 ? "Hide" : "Show"}}</button>
                    <div ng-if="isShow2">
                        <div><magic-radio group="Test_1"></magic-radio></div>
                        <div><magic-radio group="Test_1"></magic-radio></div>
                        <div><magic-radio group="Test_1"></magic-radio></div>
                        <div><magic-radio group="UFO_100"></magic-radio></div>
                        <div><magic-radio group="UFO_100"></magic-radio></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>